.input-header{
    vertical-align: middle;
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    position: relative;
    top: -1px;
}

.input-body{
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 50px;
    position: relative;
    top: -1px;
}

.input-end{
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    position: relative;
    top: -1px;
}