.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #007bff; /* 更改背景色为立体感的蓝色 */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar .nav-link {
    padding: 12px 20px; /* 调整上下内边距增加菜单项的高度 */
    color: #fff; /* 菜单项字体颜色为白色 */
    margin-bottom: 10px;
    font-size: 18px; /* 调整字体大小 */
  }
  
  .sidebar .nav-link:hover {
    background-color: #0069d9; /* 鼠标悬停时更改背景色为深蓝色 */
    color: #fff;
  }