.ordergood{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:14%;
    left:22%;
    width:73%;
    font-size: 15px;
}
.list-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    font-weight: bold;
    width:100%;
    background-color: aliceblue;
}
.showlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width:100%;
}
.showlist span{
    margin-top: 1%;
    margin-bottom: 1%
}
.num{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:6%;
}

.order-id{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:25%;
}

.name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:30%;
    overflow-x: auto;
}

.pay-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:16%;
}

.state{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:10%;
}

.count{
    color:gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:13%;
}

.seemore{
    color:rgb(174, 173, 173);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height:100%;
    width:13%;
    font-weight: lighter;

    letter-spacing: 1px;
    transition: all.1s;
}

.click:hover{
    color:black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}