.sizerbutton{
    position: absolute;
    left:85%;
    top:7%;
    border: none;
    border-radius: 25px;
    height:50px;
    width: 150px;
    font-size: 18px;
    padding-left: 28px;
    background-color: white;
    box-shadow: 0px 1px 2px gray;
    display:flex;
    align-items: center;
    transition: all.3s;
}

.sizerbutton:hover
{
    box-shadow: none;
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}

.sizerbutton:hover .sizer-dropdown{
    visibility:visible;
}

.sizerbutton img{
    height: 40%;
    padding-left: 8px;
}